<!DOCTYPE html>
<html lang="en">
<!-- head -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Document</title>
</head>

<!-- body -->
<body>
    <div>
    <h1>hello world!</h1>
    <h1 class='food'>bye world!</h1>
    <button>파랑이</button>
    <button id='blackBtn'>초록이</button>
    </div>

<!-- start of script -->
    <script>
        $('h1')
        $('h1').css('color','black')
        $('h1.food').css('color','black')
        
        $('button').on('click', ()=>{
            $('h1').css('color','blue'),
            $('h1.food').css('color','yellow')
        })
        $('#blackBtn').on('click', ()=>{
            $('h1').css('color','green'),
            $('h1.food').css('color','red')
        })
    </script>

    <script>
        $('h1.food').css('color','black')
        $('ul > li').css('color','blue')
        $('ul li').css('color','pink')
    </script>

<!-- end of script -->
</body>

</html>